## Visual Studio temporary files and build results
/.vs/
/[Dd]ebug/
/[Rr]elease/
/x64/
/x86/
*.vcxproj.user
*.suo
*.sdf
*.opensdf
*.pdb
*.ilk
*.obj
*.idb
*.log
*.tlog
*.lastbuildstate
*.exe
*.lib
*.dll
*.cache
*.exe.recipe